*{
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    display: flex;
    flex-direction:  column;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    font-size: 14px;
}
.user-details-container{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 10px;
    width: auto;
    border: 1px solid #cdcbcb;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
}

.btn{
    cursor: pointer;
}
.btnPost{
    width: 90%;
    height: 40px;
    cursor: pointer;
    font-size: 17px;
    border: 1px solid #cdcbcb;
    border-radius: 5px;
    margin: 5px;
}
.boxPost{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 10px;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    width: 100%;
    margin: 10px;
}
.postBtn{
    display: flex;
    flex-direction:column;
    align-items: center;
    height: 100%;
    gap: 5px;
    justify-content:space-between;
    border: 1px solid #cdcbcb;
    border-radius: 5px;
    margin: 5px;
}
.post{
    display: flex;
    align-items: start;
    justify-content: start;
    margin: 10px;
}






