*{
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    display: flex;
    flex-direction:  column;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    font-size: 14px;
}
.userBox {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    width: auto;
    border: 1px solid #cdcbcb;
    border-radius: 10px;
    margin: 10px;
}
.user-details-container{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 10px;
    width: auto;
    border: 1px solid #cdcbcb;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
}
.userContainer{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 10px;
    border: 1px solid #cdcbcb;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
}